{% extends 'base.html' %}

{% block content %}

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">movie_name</th>
        <th scope="col">grade</th>
      </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'reviews:detail' i.id %}" class="text-decoration-none">{{ i.title }}</td>
            <td>{{ i.movie_name }}</td>
            <td>{{ i.grade }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock content %}